{%- extends "nationalarchives/templates/prototype-kit/_base.njk" -%}

{%- from "nationalarchives/components/breadcrumbs/macro.njk" import tnaBreadcrumbs -%}
{%- from "partials/menu.njk" import menu -%}

{% set theme = 'system' %}
{% set themeAccent = 'green' %}

{% block beforeContent %}
<div class="tna-container">
  {{ tnaBreadcrumbs({
    items: [
      {
        text: 'Home',
        href: '/'
      }
    ],
    classes: 'tna-column tna-column--full tna-!--padding-vertical-s'
  }) }}
  <div class="tna-column tna-column--full">
    <div id="menu" data-path="{{ path }}">
      {{ menu(path) }}
    </div>
    <button type="button" id="showMenu" class="tna-button tna-button--small" hidden>Dev: Show menu (currently hidden for users with JavaScript available)</button>
  </div>
</div>
{% endblock beforeContent %}

{% block footer %}
  {{ tnaFooter({
    themeSelector: true,
    currentTheme: theme
  }) | indent(4) }}
{% endblock footer %}
